

*{
    padding : 0;
    margin:  0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
}
nav{
    height: 80px;
    width: 100%;
    background: #18225a;
}
label.logo{
    font-size: 35px;
    font-weight:bold;
    color:white;
    padding:0 100px;
    line-height: 80px;
}
nav ul{
    display: inline-block;
    margin: 0 8px;
    line-height:80px
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border:1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border:1px solid white;
    transition: .5s;
}
nav #menubar{
   color: white; 
   font-size: 30px;
   line-height: 80px;
   float: right;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
@media (max-width:1048px){
    label.logo{
        font-size:32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right:20px;
    }
    nav a{
        font-size:17px;
    }
}
@media (max-width:909px){
    nav #menubar{
        display:block;
    }
    nav ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:#18225a;
        top : 80px;
        left:100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px; 
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border:none;
        color:#3498bd;
    }
    nav ul.show{
        left:0;
    }
}


.container {
    padding: 16px;
    margin: 16px 0;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    
  }
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
    }

    #myInput {
        background-image: url('/css/searchicon.png'); 
        background-position: 10px 12px; 
        background-repeat: no-repeat; 
        width: 100%; 
        font-size: 16px; 
        padding: 12px 20px 12px 40px; 
        border: 1px solid #ddd; 
        margin-bottom: 12px; 
      }
      
      #myUL {
        
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      #myUL li a {
        border: 1px solid #ddd; 
        margin-top: -1px; 
        background-color: #f6f6f6; 
        padding: 12px; 
        text-decoration: none; 
        font-size: 18px; 
        color: black; 
        display: block; 
      }
      
      #myUL li a:hover:not(.header) {
        background-color: #eee; 
      }