*{
    padding : 0;
    margin:  0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
}
nav{
    height: 80px;
    width: 100%;
    background: #18225a;
}
label.logo{
    font-size: 35px;
    font-weight:bold;
    color:white;
    padding:0 100px;
    line-height: 80px;
}
nav ul{
    display: inline-block;
    margin: 0 8px;
    line-height:80px
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border:1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border:1px solid white;
    transition: .5s;
}
nav #menubar{
   color: white; 
   font-size: 30px;
   line-height: 80px;
   float: right;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
@media (max-width:1048px){
    label.logo{
        font-size:32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right:20px;
    }
    nav a{
        font-size:17px;
    }
}
@media (max-width:909px){
    nav #menubar{
        display:block;
    }
    nav ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:#18225a;
        top : 80px;
        left:100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px; 
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border:none;
        color:#3498bd;
    }
    nav ul.show{
        left:0;
    }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}


.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 25%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
 
  background-image: url("ede.png");
  
  min-height:50%;
  max-width: 60%;
  margin: 0 auto;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  position: absolute;
  right: 0;
  margin: 20px;

  background-color: rgb(0, 0, 0);
  font-size: 30px;
  color: #f1f1f1;
  
}
table{
  background-color: white;
  width: auto;
  margin: 0 auto;
  padding: 2px;
  border: 5px;
}
p1{
  font-size: 25px;
  
  
}
