*{
    padding : 0;
    margin:  0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
}
nav{
    position: fixed;
    height: 80px;
    width: 100%;
    background: #18225a;
    z-index: 2;
}
label.logo{
    font-size: 35px;
    font-weight:bold;
    color:white;
    padding:0 100px;
    line-height: 80px;
}
nav ul{
 
    display: inline-block;
    margin: 0 8px;
    line-height:80px
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border:1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border:1px solid white;
    transition: .5s;
}
nav #menubar{
   color: white; 
   font-size: 30px;
   line-height: 80px;
   float: right;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
@media (max-width:1048px){
    label.logo{
        font-size:32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right:20px;
    }
    nav a{
        font-size:17px;
    }
}
@media (max-width:909px){
    nav #menubar{
        display:block;
    }
    nav ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:#18225a;
        top : 80px;
        left:100%;
        text-align: center;
        transition: all .5s;

    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px; 
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border:none;
        color:#3498bd;
    }
    nav ul.show{
        left:0;
    }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}


.content {
  position:fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

*{
  box-sizing: border-box;
}


.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: sticky;
    
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: rgb(68, 68, 68);
  color: white;
}

.fa {font-size:50px;
}


